body {
    margin: 0;
    padding: 0;
    background-color:rgb(197, 197, 197);
    color: black;
}

h1 {
    font-family: Tahoma;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: left;
}


.centrado {
    position: absolute;
    top: 50%;
    left: 125%;
    transform: translate(-50%, -50%);
}